@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// font-family: "Roboto", sans-serif;


* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #333333;
  background: #FFFBF8;
}
.container{
  padding-right:1.5em ;
  padding-left:1.5em ;
  padding-top:1.5em ;
  width: 100%;
  max-width: 100% !important;
  
}
.lightorange{
  background: #FDF2E8;
  color:#F07100CC ;
}
.lorange{
  color:#F07100 ;
}
.roboto{
  font-family: "Roboto", sans-serif;
}
.gray{
  color: #666666;
}
.deeporangebg{
  background: #F07100;
}
// .shadowbg{
//   background: #FA0;
//   filter: blur(98.71993255615234px);
// }
// .shadowbg {
//   position: relative; /* make the parent a positioning context */
//   z-index: 0; /* ensure content is above the pseudo-element */
// }

// .shadowbg::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: #F07100;
//   filter: blur(98.71993255615234px);
//   z-index: -1; /* behind the content */
// }
// img {
//   max-width: 50vw;
//   max-height: 25vw;
//   display: block;
//   margin: auto;
// }

// form {
//   display: flex;
//   justify-content: center;
//   gap: 0.5em;
//   flex-flow: row wrap;
//   max-width: 40vw;
//   margin: auto;
//   align-items: baseline;
// }

// button[type="submit"] {
//   padding: 5px 20px;
//   margin: 10px auto;
//   float: right;
// }

// #greeting {
//   margin: 10px auto;
//   padding: 10px 60px;
//   border: 1px solid #222;
// }

// #greeting:empty {
//   display: none;
// }
